<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Estats - E107 Extended/Enhanced Stats" lan="ESTATS_FULL_NAME" version="0.1.0b" date="2025-02-05" compatibility="2.3" installRequired="true" xhtmlcompliant="true" >
	<author name="rica-carv" email="selo.fan@gmail.com" url="https://github.com/rica-carv" />
	<description lan="LAN_PLUGIN_IMPORT_DESCRIPTION">Have extra stats using <a href='http://bbclone.de/'>BBClone</a> and other third party statistical php scripts. This plugin is a updated and upgraded original BBclone plugin from DIPOrg (suporte@diporg.com)</description>
	<keywords>
		<word>enhancement</word>
		<word>stats</word>
		<word>info</word>
	</keywords>
	<category>stats</category>
	<adminLinks>
		<link url='admin_config.php' description='Estats - E107 Extended/Enhanced stats' icon='images/estats_32.png' iconSmall='images/estats_16.png' primary='true'>Enhanced stats</link>		
	</adminLinks>	
</e107Plugin>